// Пример использования

/*
.main {
  background-color: white;

  @include device(laptop) {
    background-color: brown;
  }

  @include device(tablet) {
    background-color: black;
  }

  @include device(tablet-mid) {
    background-color: red;
  }

  @include device(mobile) {
    background: green;
  }

  @include before-device(tablet) {
    &::hover {
      color: white;
    }
  }
}
*/

@mixin device($breakpoint) {
  @if $breakpoint == laptop {
    @media only screen and (max-width: $laptop-max-width) {
      @content;
    }
  } @else if $breakpoint == laptop-mid {
    @media only screen and (max-width: $laptop-mid-width) {
      @content;
    }
  } @else if $breakpoint == laptop-min {
    @media only screen and (max-width: $laptop-min-width) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (max-width: $tab-max-width) {
      @content;
    }
  } @else if $breakpoint == tablet-mid {
    @media only screen and (max-width: $tab-mid-width) {
      @content;
    }
  } @else if $breakpoint == tablet-min {
    @media only screen and (max-width: $tab-min-width) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media only screen and (max-width: $mobile-max-width) {
      @content;
    }
  } @else if $breakpoint == mobile-mid {
    @media only screen and (max-width: $mobile-mid-width) {
      @content;
    }
  } @else if $breakpoint == mobile-min {
    @media only screen and (max-width: $mobile-min-width) {
      @content;
    }
  }
}

@mixin before-device($breakpoint) {
  @if $breakpoint == laptop {
    @media only screen and (min-width: $laptop-max-width + 1) {
      @content;
    }
  } @else if $breakpoint == laptop-mid {
    @media only screen and (min-width: $laptop-mid-width + 1) {
      @content;
    }
  } @else if $breakpoint == laptop-min {
    @media only screen and (min-width: $laptop-min-width + 1) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: $tab-max-width + 1) {
      @content;
    }
  } @else if $breakpoint == tablet-mid {
    @media only screen and (min-width: $tab-mid-width + 1) {
      @content;
    }
  } @else if $breakpoint == tablet-min {
    @media only screen and (min-width: $tab-min-width + 1) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media only screen and (min-width: $mobile-max-width + 1) {
      @content;
    }
  } @else if $breakpoint == mobile-mid {
    @media only screen and (min-width: $mobile-mid-width + 1) {
      @content;
    }
  }
}
