// BREAKPOINTS
$laptop-max-width: 1499px; // Брейкпоинт для ноутбука
$laptop-mid-width: 1300px; // Брейкпоинт для среднего ноутбука
$laptop-min-width: 1200px; // Минимальная ширина ноутбука

$tab-max-width: 1199px; // Брейкпоинт для большого планшета
$tab-mid-width: 1023px; // Брейкпоинт для малого планшета
$tab-min-width: 768px; // Минимальная планшетная ширина

$mobile-max-width: 767px; // Начальный брейкпоинт для смартфона
$mobile-mid-width: 530px; // Средний брейкпоинт для смартфона
$mobile-min-width: 380px; // Средний брейкпоинт для смартфона

// PADDINGS
$container-desktop-padding: 30px; // Внутренний отступ для десктопа
$container-tab-padding: 20px; // Внутренний отступ для планшета
$container-mobile-padding: 10px; // Внутренний отступ для смартфона

// COLORS
$c-black: #000000;
$c-white: #ffffff;

// FONTS
$main-font: "NotoSans", Helvetica, Arial, sans-serif;

// OTHERS
